<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./assets/images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Frontend Mentor | Multi-step form</title>
  </head>
  <body>
    <main id="app">
      <section class="container">
        <section class="navigation">
          <aside>
            <!-- Sidebar start -->
            <img src="./assets/images/bg-sidebar-desktop.svg" alt="place holder image"/>
            <ol>
              <li :class="{ selected : step === 0 }">
                <div class="step">
                  <span class="step-number">Step 1</span> <br />
                  <span class="step-name">Your info</span>
                </div>
              </li>
              <li :class="{ selected : step === 1 }">
                <div class="step">
                  <span class="step-number">Step 2</span> <br />
                  <span class="step-name">Select plan</span>
                </div>
              </li>
              <li :class="{ selected : step === 2 }">
                <div class="step">
                  <span class="step-number">Step 3</span> <br />
                  <span class="step-name">Add-ons</span>
                </div>
              </li>
              <li :class="{ selected : step === 3 }">
                <div class="step">
                  <span class="step-number">Step 4</span> <br />
                  <span class="step-name">Summary</span>
                </div>
              </li>
            </ol>
            <!-- Sidebar end -->
          </aside>
        </section>
        <!-- Step 1 start -->
        <section class="steps spaceBetween">
          <section v-if="step === 0" class="step personal-info">
            <div class="description">
              <h1 class="title">Personal info</h1>
              <p class="p-description">Please provide your name, email address, and phone number.</p>
            </div>
            <div class="form flex-column">
              <label for="name">Name</label>
              <input type="text" name="name" placeholder="e.g. Stephen King"></input>
              <label for="email">Email Address</label>
              <input type="email" name="email" id="email" placeholder="e.g. stephenking@lorem.com">
              <label for="phone">Phone Number</label>
              <input type="text" name="phone" id="phone" placeholder="e.g. +1 234 567 890 ">
            </div>
          </section>
          <!-- Step 1 end -->
          <!-- Step 2 start -->
          <section v-if="step === 1" class="step">
            <div class="description">
              <h1 class="title">Select your plan </h1>
              <p class="p-description">You have the option of monthly or yearly billing.</p>
            </div>
            <section class="cards">
              <div class="card">
                <img src="./assets/images/icon-arcade.svg" alt="">
                <h2 class="plan">Arcade</h2> 
                <h2 class="price">$9/mo</h2>
              </div>
              <div class="card"><img src="./assets/images/icon-advanced.svg" alt=""><h2 class="plan">Advanced</h2> <h2 class="price">$12/mo</h2></div>
              <div class="card"><img src="./assets/images/icon-pro.svg" alt=""><h2 class="plan">Pro</h2> <h2 class="price">$15/mo</h2></div>
            </section>
            <div class="subscription flex-row">
              <div class="monthly">Monthly</div> 
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <div class="yearly">Yearly</div></div>
          </section>
          <!-- Step 2 end -->
          <!-- Step 3 start -->
          <section v-if="step === 2" class="step">
            <div class="description">
              <h1 class="title">Pick add-ons</h1>
              <p class="p-description">Add-ons help enhance your gaming experience.</p>
            </div>
            <section class="add-on-plans flex">
              <div class="add-on flex">
                <div class="add-on-group flex">
                  <div class="add-on-check">
                    <input type="checkbox" @click="checked" name="add-on" id="">
                  </div>
                  <div class="add-on-description">
                    <h2 class="plan">Online service</h2>
                    <p class="add-on-description">Access to multiplayer games</p>
                  </div>
                </div>
                <div class="add-on-price">+$1/mo</div>
              </div>
              <div class="add-on">
                <div class="add-on-group">
                  <div class="add-on-check"><input type="checkbox" @click="checked" name="add-on" id=""></div>
                  <div class="add-on-description">
                    <h2 class="plan">Larger storage</h2>
                    <p class="add-on-description">Extra 1TB of cloud save</p>
                  </div>
                </div>
                <div class="add-on-price">+$2/mo</div>
              </div>
              <div class="add-on">
                <div class="add-on-group">
                  <div class="add-on-check"><input type="checkbox" @click="checked" name="add-on" id=""></div>
                  <div class="add-on-description">
                    <h2 class="plan">Customizable Profile</h2>
                    <p class="add-on-description">Custom theme on your profile</p>
                  </div>
                </div>
                <div class="add-on-price">+$2/mo</div>
              </div>
            </section>
            
          </section>
          <!-- Step 3 end -->
          <!-- Step 4 start -->
          <section v-if="step === 3" class="step">
            Finishing up Double-check everything looks OK before confirming.
            <!-- Dynamically add subscription and add-on selections here -->
            Total (per month/year) Go Back Confirm
            <!-- Step 4 end -->
          </section>
          <div class="buttons flex-end" :class="{ spaceBetween: step > 0 }" :class="{ spaceBetween: step < 4 }">
            <button v-if="step > 0" @click="step--" class="go-back">Go Back</button>
            <button @click="step++" class="next-step">Next Step</button>
          </div>
        </section>
        <section v-if="step === 4" class="step">
          <!-- Step 5 start -->
          Thank you! Thanks for confirming your subscription! We hope you have fun
          using our platform. If you ever need support, please feel free to email
          us at support@loremgaming.com.
        </section>
      </section>
      <!-- Step 5 end -->
    </main>

    <footer>
      <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="#">Henry Paredes</a>.
      </div>
    </footer>
    <!-- Import App -->
    <script src="main.js"></script>

    <!-- Mount App -->
     <script>
      const mountedApp = app.mount('#app')
     </script>
  </body>
</html>
