* {
  margin: 0;
  padding: 0;
}

main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 940px;
  max-height: 600px;
}

.none{
  display: none;
}

aside{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  position: relative;
}

ul {
  list-style: none;
  position: absolute;
  top: 56px;
  left: 48px;
}

ul li span{
  padding: 10px;
  border: 1px solid white;
  border-radius: 50% 50%;

}

ul li{
  margin-bottom: 32px;
}

img {
}

















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }