@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --straberry-red: hsl(354, 84%, 57%);
  --Light-gray: hsl(229, 24%, 87%);
  --Cool-gray: hsl(231, 11%, 63%);

}
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 940px;
  max-height: 600px;
  display: flex;
  justify-content: space-around;
}

.none{
  display: none;
}

aside{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
  position: relative;
}

section.step{
  padding: 16px;
  margin-top: 3rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.description{
  margin-bottom: 40px;
}

.personal-info .title{
  color: var(--marine-blue);
  font-size: 40px;
  margin-bottom: 11px;
}

.personal-info .p-description{
  color: var(--Cool-gray);
  font-size: 16px;
}

label{
  margin-bottom: 8px;
  color: var(--marine-blue);
  font-size: 12px;
}

.personal-info input{
  padding: 10px;
  border: 0.5px solid var(--Light-gray);
  border-radius: 6px;
  margin-bottom: 24px;
}

ol {
  list-style: none;
  position: absolute;
  top: 40px;
  left: 30px;
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  text-transform: uppercase;
}

ol > li {
  counter-increment: step-counter;
  display: table-row;
}

ol > li::before {
  content: counter(step-counter) ".";
  display: table-cell; /* aha! */
  text-align: right;
  align-content: center;
  
}

ol li.selected::before {
  background-color: var(--light-blue);
  color: var(--marine-blue);
  font-weight: bold;
}

ol li{
  margin: 0;
  padding: 0;
  counter-increment: step-counter;
}

ol li::before{
  content: counter(step-counter);
  padding: 4px 10px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

ol li .step{
  font-size: 13px;
}

.step-number{
  color: white;
  opacity: 60%;
}

.step-name{
  margin-top: 4px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }